<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Classifier</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Provide features to find out is this is a bird</h1>
    <hr>
    <br>

    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    <hr>
    <h2>Prediction Result</h2>
    <p>The result is: <strong>{{ result }}</strong></p>
    <br>

</body>
</html>